$primary-color: #ff8e4a;
$secondary-color: #ee4d2d;
$secondary-color-dark: #f86001;
$text-color: #252525;
$sub-text-color: #888888;
$form-background: #f6f6f6;
$page-background: #f6f6f6;
$border-color: #e9e9e9;
