.home {
	&__banner {
		margin-top: 30px;

		&__item {
			overflow: hidden;
		}

		&__img {
			transition: all 0.25s ease-in-out;
			transform-origin: center;
			cursor: pointer;
			width: 100%;
			object-fit: contain;

			&:hover {
				transform: scale(1.1);
				filter: opacity(0.8);
			}
		}
	}

	&__link--wrap {
		padding: 15px 0;
		margin-top: 20px;
		margin-bottom: 20px;
		position: relative;
		border-bottom: 1px solid $border-color;

		&::before {
			content: "";
			display: block;
			border: 3px solid $third-color;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 50px;
		}
	}

	&__link {
		display: inline-block;
		font-size: 2.8rem;
		font-weight: 500;
		transition: 0.25s ease-in;

		&:hover {
			color: $third-color;
		}
	}
}

.admin__home {
	background-color: white;
	padding: 30px 40px;

	&__heading {
		font-size: 2rem;
		font-weight: 500;
		margin-bottom: 10px;
	}

	&__sub-heading {
		font-size: 1.2rem;
		color: $sub-text-color;
		margin-bottom: 20px;
		padding-bottom: 15px;
		border-bottom: 1px solid $border-color;
	}

	&__info {
		@include flex(center);
		row-gap: 20px;
	}

	&__item {
		display: block;
		flex: 0 0 25%;
		max-width: 25%;
		padding: 20px;
		text-align: center;
		position: relative;
		transition: 0.25s linear;
		border-radius: 5px;

		&:hover {
			background-color: $border-color;
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			transform: translateY(50%);
			right: 0;
			width: 1px;
			height: 60%;
			background-color: $border-color;
		}

		&__number {
			font-size: 3rem;
			color: $primary-color;
			margin-bottom: 10px;
		}

		&__text {
			font-size: 1.6rem;
			font-weight: 500;
		}
	}
}

.revenue {
	&__by {
		@include flex();
		position: relative;
		margin-bottom: 20px;

		&__item {
			margin-right: 10px;
		}

		&__link {
			display: inline-block;
			font-size: 1.6rem;
			transition: 0.25s linear;
			padding: 10px;
			cursor: pointer;

			&.active {
				color: $primary-color;
			}
		}
	}
	&__line {
		position: absolute;
		top: 100%;
		left: 0;
		width: 0;
		border: 1px solid $primary-color;
		transition: 0.25s linear;
	}

	&__info {
		margin-top: 40px;
		@include flex(center, space-around);

		&__unit {
			flex: 0 0 100%;
			max-width: 100%;
			text-align: right;
			font-size: 2rem;
			color: $primary-color;
			margin: 10px 0 20px;
		}

		&__item {
			flex: 0 0 50%;
			max-width: 50%;
			@include flex(center, center);
			flex-direction: column;
			&__title {
				font-size: 1.6rem;
				font-weight: 500;
				margin-top: 20px;
			}
		}

		&__circle {
			@include flex(center, center);

			width: 300px;
			height: 300px;
			border: 8px solid $secondary-color;
			border-radius: 50%;

			& p {
				font-size: 2.6rem;
				color: $sub-text-color;
			}

			&--delete {
				border-color: $secondary-color;
			}

			&--done {
				border-color: $primary-color;
			}
		}
	}

	&__form {
		display: none;
		align-items: stretch;

		&.active {
			display: flex;
		}

		& input {
			flex: 1;
			font-size: 1.4rem;
			padding: 4px 10px;
			margin-right: 20px;
		}

		& .form-select {
			font-size: 1.4rem;
			flex: 1;
			margin-right: 20px;
		}
	}
}
