.footer {
	padding: 50px 0 200px;
	background: white url(../../../MiniMart//assets/bg_footer.png) no-repeat
		bottom;

	&__text {
		font-size: 1.4rem;
		margin: 10px 0;
		color: $sub-text-color;
		line-height: 2.2rem;

		& span {
			color: $primary-color;
		}
	}

	&__link {
		display: block;
		font-size: 1.4rem;
		color: $text-color;
		margin: 10px 0;

		& i {
			min-width: 20px;
			margin-right: 5px;
		}
	}

	&__btn {
		font-size: 1.4rem;
		padding: 10px 15px;
	}

	&__list {
		padding: 0 20px;
		border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
		height: 100%;

		&__title {
			font-size: 1.8rem;
			margin-bottom: 20px;
			font-weight: 500;
		}
	}

	&__item {
		width: fit-content;
		margin-bottom: 20px;
		font-size: 1.4rem;
		transition: all 0.2s ease-in-out;
		cursor: pointer;
		color: $sub-text-color;

		&:hover {
			transform: translateX(8px);
		}

		& a {
			color: $sub-text-color;

			&:hover {
				color: $secondary-color;
			}
		}
	}

	&__mail {
		padding: 0 20px;

		&__title {
			font-size: 1.8rem;
			margin-bottom: 20px;
		}

		&__desc {
			font-size: 1.4rem;
			margin-bottom: 10px;
		}

		&__form {
			margin-bottom: 30px;
		}

		&__input {
			font-size: 1.4rem;
			padding: 8px 20px;
			border-radius: 5px;
		}

		&__btn {
			background-color: $primary-color;
			padding: 0 10px;
			font-size: 2rem;
			border: unset;
			transition: all 0.2s ease-in-out;

			&:hover {
				background-color: $secondary-color;
			}
		}
	}

	&__social {
		&__title {
			font-size: 1.8rem;
			font-weight: 500;
			margin-bottom: 20px;
		}

		&__list {
			@include flex(center);
			column-gap: 15px;
		}

		&__item {
			@include flex(center, center);
			background-color: currentColor;
			width: 30px;
			height: 30px;
			border-radius: 10px;
			border: 1px solid currentColor;
			cursor: pointer;
			transition: all 0.25s ease-in;

			& i {
				font-size: 1.6rem;
				color: white;
			}

			&:hover {
				background-color: white;

				& i {
					color: currentColor;
				}
			}

			&:first-child {
				color: #f4574c;
			}

			&:nth-child(2) {
				color: #4cd6f4;
			}

			&:nth-child(3) {
				color: #3b5999;
			}

			&:last-child {
				color: #0976b4;
			}
		}
	}
}
