.form {
	margin-top: 20px;
	margin-bottom: 50px;

	&__wrap {
		padding: 0 40px;
	}

	&__title {
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 15px;
	}

	&__btn {
		font-size: 1.5rem;
		margin: 20px 0;
		padding: 6px 15px;
		min-width: 100px;

		& a {
			color: white;
			display: block;
		}

		& + & {
			margin-left: 15px;
		}

		&--block {
			display: block;
			width: 100%;
		}

		&:hover,
		&:focus {
			background-color: white;
			color: $secondary-color;
			border-color: $secondary-color;
		}

		&:hover a,
		&:focus a {
			color: $secondary-color;
		}

		&:focus {
			box-shadow: 0 0 0 0.25rem
				rgba($color: $secondary-color, $alpha: 0.5);
		}

		&--success {
			background-color: $secondary-color;
			border-color: $secondary-color;
		}

		&--danger {
			background-color: var(--bs-danger);
			border-color: var(--bs-danger);

			&:hover,
			&:focus {
				background-color: white;
				color: var(--bs-danger);
				border-color: var(--bs-danger);
			}

			&:focus {
				box-shadow: 0 0 0 0.25rem
					rgba($color: var(--bs-danger), $alpha: 0.5);
			}
		}
	}

	&__redirect {
		font-size: 1.4rem;
		margin-bottom: 10px;
		text-align: center;

		&__link {
			color: $secondary-color;
			transition: color 0.2s ease-in;
			cursor: pointer;

			&:hover {
				color: $primary-color;
			}
		}
	}

	&__social-login {
		margin-top: 40px;
		text-align: center;

		&__title {
			font-size: 1.5rem;
			font-weight: 500;
			margin-bottom: 20px;
		}

		&__list {
			@include flex(center, center);
			column-gap: 15px;
		}

		&__item {
			@include flex(center);
			font-size: 1.4rem;
			color: white;
			padding: 10px;
			min-width: 120px;
			border-radius: 5px;
			cursor: pointer;
			transition: all 0.2s ease-in;

			&__icon {
				font-size: 2rem;
				margin-right: 5px;
			}

			&__text {
				flex: 1;
				text-align: center;
			}

			&--facebook {
				background-color: #3b5999;
			}

			&--google {
				background-color: #f4574c;
			}

			&:hover {
				opacity: 0.6;
			}
		}
	}
}

.add-edit {
	&__header {
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid $border-color;
	}

	&__heading {
		font-weight: 400;
		font-size: 2.8rem;
		margin-bottom: 15px;
	}

	&__sub-heading {
		font-size: 1.3rem;
		color: $sub-text-color;
	}
}

.input {
	flex: 1;

	::placeholder {
		color: $sub-text-color;
		opacity: 1;
	}

	:-ms-input-placeholder {
		color: $sub-text-color;
	}

	::-ms-input-placeholder {
		color: $sub-text-color;
	}

	margin: 15px 0;
	&__label {
		font-size: 1.5rem;
		font-weight: 500;
		text-transform: capitalize;
	}

	&__control {
		font-size: 1.4rem;
		padding: 10px;
		max-height: 500px;
		width: 100%;

		&::-webkit-scrollbar-track {
			border-radius: 10px;
			background-color: transparent;
		}

		&::-webkit-scrollbar {
			width: 6px;
			background-color: transparent;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: #ccc;
		}
	}

	&__error {
		font-size: 1.2rem;
		margin-top: 5px;
	}
}

.preview {
	overflow-x: scroll;
	&__list {
		@include flex();
		margin-top: 20px;
		column-gap: 15px;
	}

	&__item {
		position: relative;
	}

	&__btn {
		position: absolute;
		top: 5px;
		right: 5px;

		cursor: pointer;
		font-size: 1.4rem;
		transition: 0.25s ease-in-out;

		&:hover {
			color: var(--bs-danger);
		}
	}

	&__img {
		max-width: 100px;
		border-radius: 5px;
		object-fit: contain;
	}
}
